<h3><%= @yoga_class.length%> minute <%= @yoga_class.name %> with <%= @yoga_class.user.username %></h3>
<p>Date: <%= @yoga_class.date %></p>
<p>Time: <%= @yoga_class.time %></p>
<p>Studio: <%= @yoga_class.studio.name %></p>
<p>Level: <%= @yoga_class.difficulty %></p><br>

<% if @yoga_class.students.exists? %>
    <h3>Students:</h3>
    <% @yoga_class.students.each do |student| %>
    <p><%= student.name %></p>
    <% end %>
<% end %>

<br></br>

<%= link_to "Add Student", new_yoga_class_student_path(@yoga_class) %><br>
<%= link_to "Back to Class Index", yoga_classes_path %><br>
