<h3><%= @yoga_class.length%> minute <%= @yoga_class.name %> with <%= @yoga_class.user.username %></h3>
<p>Date: <%= @yoga_class.date %></p>
<p>Time: <%= @yoga_class.time %></p>
<p>Studio: <%= @yoga_class.studio.name %></p>
<p>Level: <%= @yoga_class.difficulty %></p><br>

<br>

<% if @yoga_class.students.any?%>
    <h3><%= link_to "Students", yoga_class_students_path(@yoga_class) %></h3>
    <% @yoga_class.students.each do |student| %>
    <%= link_to student.name, yoga_class_student_path(@yoga_class, student) %><br>
    <% end %>
<br></br>
<% end %>

<%= link_to "Add Student", new_yoga_class_student_path(@yoga_class) %><br>
<%= link_to "Delete Class", { action: :destroy, id: @yoga_class.id }, method: :delete, data: { confirm: 'Are you sure?' } %><br>
<%= link_to "Edit Class", edit_yoga_class_path(@yoga_class) %><br>
<%= link_to "Back to Class Index", yoga_classes_path %><br>
