<h3><%= @yoga_class.length minute @yoga_class.name with @yoga_class.teacher_name%></h3>
<p><%= @yoga_class.date %></p>
<p><%= @yoga_class.time %></p>
<p><%= @yoga_class.studio_name %></p>
<p><%= @yoga_class.difficulty %></p>
