<!DOCTYPE html>
<html>
  <head>
    <title>Yoga_on_rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <%= render 'layouts/nav'%>
  </nav>

  <header>
  <% if user_signed_in? %>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Welcome to YogaOnRails!</h1>
        <p>A space for yoga teachers to manage their classes and studios.</p>
      </div>
    </div>
  <% end %>
  </header>

  <body>
  <div class="container-fluid text-center">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  </body>
</html>
